<p>Students</p>
<%= @students.each do |student| %>
<p><span><%= link_to student.name, student_path(student) %><%= link_to "delete #{student.name}", student_path(student), method: "delete" %></span></p>
<% end %>
